.single-view-card-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.tabs{
    margin-top: 5rem;
}
.active-tab {
    background-color:red;
  }
  .table{
    margin-top: 6rem;
  }
  .document-button {
    display: flex;
    gap: 10px; /* Adjust the gap value as needed */
  }
  